<%= content_for :head do %>
  <style>
  .artist-image{
    float: left;  
    width: 150px;
    margin-bottom: 20px;
  }
  .artist-name{
    color: #FFFFFF;
    display: inline;
    float: left;
    margin-top: 50px;
    margin-left: 100px;
    font-size: 300%;
  }
  .artist-head-container{
    margin-bottom: 20px;
  }
  .artist-songs{
    padding-top: 10px;
    clear: both;
    background: #171717;
    height: 500px;
  }
  .container-title{
    color: #FFFFFF;
    margin-left: 20px;
  }
  </style>
<% end %>

<div class="profile-container">
  <div class="artist-head-container">
    <%= image_tag @artist.avatar.url(:medium), alt: @artist.name, class: "artist-image"%>
    <h1 class="artist-name"><%= @artist.name%></h1>
  </div>

  <div class="artist-songs">
    <h2 class="container-title">Musicas:</h2>
  </div>
</div>
